@if (TotalPaginas > 1)
{
<nav class="mt-4" aria-label="Página Navegação">
    <ul class="pagination">

        @foreach (var link in Links)
        {
<li @onclick="() => PaginaInternaSelecionada(link)"
    style="cursor: pointer;"
    class="page-item @(link.Enabled ? null : "disabled") @(link.Active ? "active" : null)">
    <span class="page-link">@link.Text</span>
</li>}

    </ul>
</nav>}
