@page "/pedidos/meu"
@attribute [Authorize]

@if (Pedidos == null)
{
<Carregando />
 }
else
{
<section class="section-content padding-y bg">
    <div class="container">

        <div class="row">

            <BarraLateral />

            <main class="col-md-9">

                <article class="card  mb-3">
                    <div class="card-body">
                        <h5 class="card-title mb-4"> Meus pedidos </h5>

                        <div class="row">

                            @foreach (var pedido in Pedidos)
                            {
            <div class="col-md-6">
                <figure class="itemside  mb-3">

                    <div class="aside">
                        <a href="/pedido/detalhes/@pedido.Id">
                            <img src="@pedido.FonteImagemProduto" class="border img-sm">
                        </a>
                    </div>
                    <figcaption class="info">
                        <a href="/pedido/detalhes/@pedido.Id">
                            <time class="text-muted"><i class="fa fa-calendar-alt"></i> @pedido.CriadoEm </time>
                            <p class="black"> @pedido.NomeProduto </p>
                            <span class="text-success">Enviado</span>
                        </a>
                    </figcaption>

                </figure>
            </div>}

                        </div>

                    </div>
                </article>

            </main>
        </div>

    </div>
</section>}
