<EditForm Model="ModeloBusca" OnValidSubmit="Buscar" method="get" class="d-md-none my-2">
    <div class="input-group">
        <InputText @bind-Value="ModeloBusca.Query" type="search" name="search" class="form-control" placeholder="Buscar" required />
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</EditForm>
