<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-top  padding-y">
            <div class="row">
                <aside class="col-md-4 col-12">
                    <article class="mr-md-4">
                        <h5 class="title">Contato</h5>
                        <ul class="list-icon">
                            <li> <i class="icon fa fa-map-marker"> </i>São Paulo </li>
                            <li> <i class="icon fa fa-envelope"> </i> admin@lojaBlazor.com </li>
                            <li> <i class="icon fa fa-phone"> </i> (11)32343-31324</li>
                            <li> <i class="icon fa fa-clock"> </i> Segunda - Domingo 06:00 - 18:00 </li>
                        </ul>
                    </article>
                </aside>
                <aside class="col-md col-6">
                    <h5 class="title">Informações</h5>
                    <ul class="list-unstyled">
                        <li> <a href="#">Sobre Nós</a></li>
                        <li> <a href="#">Carreira</a></li>
                        <li> <a href="#">Encontre uma loja</a></li>
                        <li> <a href="#">Regras e termos</a></li>
                    </ul>
                </aside>
                <aside class="col-md col-6">
                    <h5 class="title">Minha Conta</h5>
                    <ul class="list-unstyled">
                        <li> <a href="/conta/configuracao"> Configurações da conta </a></li>
                        <li> <a href="/pedidos"> Meus Pedidos </a></li>
                        <li> <a href="/lista-desejos"> Minha Lista de Desejos </a></li>
                    </ul>
                </aside>
                <aside class="col-md-4 col-12">
                    <h5 class="title">Newsletter</h5>
                    <p>
                        Assine nosso boletim informativo por e-mail hoje para receber atualizações sobre ofertas especiais.
                    </p>

                    <form class="form-inline mb-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email" />
                            <span class="input-group-append">
                                <button class="btn ml-2 btn-warning"> Se inscreva </button>
                            </span>
                        </div>
                    </form>

                    <p class="text-black-50 mb-2">Follow us on social media</p>
                    <div>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="btn btn-icon btn-light"><i class="fab fa-youtube"></i></a>
                    </div>

                </aside>
            </div>
        </section>

        <section class="footer-bottom border-top row">
            <div class="col-md-6">
                <p class="mb-0">
                    <a href="">Termos e Condições</a> |
                    <a href="">Privacidade</a> |
                    <a href="">Cookies</a>
                </p>
            </div>
        </section>
    </div>
</footer>