@if (this.Erros != null)
{
    if (this.MostrarErros)
    {
        foreach (var erro in this.Erros)
        {
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    @erro
    <button @onclick="Redefinir" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>}
}
}
