<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <div></div>
            <h1>404</h1>
        </div>
        <h2>Página não encontrada</h2>
        <p>A página que você está procurando pode ter sido removida devido a mudança de nome ou está temporariamente indisponível.</p>
        <a href="/">Home</a>
    </div>
</div>
